---
---

<section class="mt-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br text-3xl from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        About me
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current flex items-center justify-center gap-0"
    >
    </div>
    <h2 class="text-center text-lg m-2 p-2">Full stack web developer</h2>
    <ul>
      <li>Prefer working with a multinational team</li>
      <li>
        Mostly worked with React with Typescript on the frontend, Kotlin with
        Micronaut or Jersey on the backend
      </li>
      <li>Trying to contribue to OSS as much as possible,</li>
      <li>
        Trying to build CLI applications and web servers with as many different
        languages as I can. GOlang, JS, Kotlin, Java, Rust, Ruby etc.
      </li>
      <li>
        Ride motorcyles, workout or work on my config files on my freetime
      </li>
    </ul>
    <p>
      Wanted to dabble on blogging and try to share the experiences that I had
      since starting working as a profesional on 2020
    </p>
  </div>
</section>
