---
---

<section class="mt-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br text-3xl from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        About me
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current flex items-center justify-center gap-0"
    >
    </div>
    <h2 class="text-center text-lg m-2 p-2">Full Stack Software Developer</h2>
    <p>I love everything about computers, from the silicon in a processor to UI we interact with on a daily basis a terminal window or a web browser
    , although lower the level more interesting it is for me except Assembly!
    I do believe I am a Full Stack Developer,
    I can work on Ops side of the things, I can build CLI/TUI applications, I can build web servers and web uis...
    </p>
    <ul>
      <li>
        Also currently learning about syscalls, distributed systems, advanced Rust and inner workings of the Linux.
      </li>
    </ul>
    <p>
      Wanted to dabble on blogging and try to share the experiences that I had
      since starting working as a profesional on 2020
    </p>
  </div>
</section>
