---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter pt-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Utku Enes GURSEL
      </span>
    </h1>
    <p
      class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent text-center text-sm pb-6"
    >
      (a.k.a erklyn)
    </p>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/erklyn"
        target="_blank"
      >
        <i
          class="fa-brands fa-github"
          aria-hidden="true"
          title="Erklyn on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/utkuenes"
        aria-label="UtkuEnes on Twitter"
        target="_blank"
      >
        <i
          class="fa-brands fa-twitter"
          aria-hidden="true"
          title="UtkuEnes on Twitter"></i>
        <span>Twitter</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
    <p class="text-center text-lg pt-2">
      Hi, you can take a look at my projects and my mid takes on sofware/tools
      that I use daily.
    </p>
  </div>
</section>
